.profile__profession {
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
    min-width: 294px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}