.popup__error-message {
    position: absolute;
    color: #FF0000;
    min-width: 358px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21.78px;
    transition: 0.3s;
    opacity: 1;
}

#name-error {
    margin-top: 140px;
}

#profession-error {
    margin-top: 200px;
}

#place-error {
    margin-top: 140px;
}

#link-error {
    margin-top: 210px;
}