.header {
    width: 880px;
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 600px) and (max-width: 900px) {
    .header {
        width: 80%;
    }
}


@media screen and (min-width: 320px) and (max-width: 599px) {
    .header {
        width: 100%;
    }
}