.error {
    position: absolute;
    color: #FF0000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 21.78px;
    transition: 0.3s;
    opacity: 1;
}

#name-error {
    top: 410px;
}

#profession-error {
    top: 470px;
}

#place-error {
    top: 410px
}

#link-error {
    top: 470px
}