.error {
    position: absolute;
    color: #FF0000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    transition: 0.3s;
    opacity: 1;
    white-space: normal;
    max-width: 362px;
    margin-left: 0;
    line-height: 1.5;
    left: 33px;
}

#name-error {
    top: 170px;
}

#profession-error {
    top: 230px;
}

#place-error {
    top: 170px;
}

#link-error {
    top: 230px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    #name-error {
        top: 210px;
    }

    #profession-error {
        top: 310px;
    }

    #place-error {
        top: 210px;
    }

    #link-error {
        top: 310px;
    }
}


@media screen and (min-width: 320px) and (max-width: 599px) {

    #name-error {
        top: 200px;
    }

    #profession-error {
        top: 300px;
    }

    #place-error {
        top: 200px;
    }

    #link-error {
        top: 300px;
    }

}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .error {
        max-width: 242px;
        line-height: 1.8;
        left: 20px;
    }
}