.edit-form__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 34px;
    max-width: 358px;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .edit-form__title {
        max-width: 238px;
        margin-top: 25px;
        font-size: 18px;
        line-height: 22px;
    }
}