.profile__profession {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .profile__profession {
        max-width: 270px;
        text-align: left;
        font-size: 14px;
        line-height: 17px;
        margin-left: 50px;
    }
}