.header {
    width: 880px;
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 41px;
}



@media screen and (min-width: 600px) and (max-width: 900px) {
    .header {
        width: 80%;
    }
}


@media screen and (min-width: 320px) and (max-width: 599px) {
    .header {
        width: 100%;
        padding-bottom: 32px;
    }
}